= form_for :quiz, @quiz, :url => quizzes_path, :html => {:id => "new_quiz", :class => "new_quiz"}, :remote => true do |f|
  %fieldset
    %dl
      %dt= f.label :name
      %dd= f.text_field :name
    %dl
      %dt= f.label :round_count
      %dd= f.text_field :round_count
    %dl
      %dd= select_tag "quiz[type]", options_for_select(["Simple"])
    .buttons
      = submit_tag 'Create', :id => "quiz_submit"