<!DOCTYPE html>
<html>
<head>
  <title>Kwisatz2</title>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= content_for?(:content) ? yield(:content) : yield %>

  <%= javascript_include_tag "application" %>
  <%= yield :javascripts %>
</body>
</html>
